@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.main-content{
    background-image: linear-gradient(to bottom , rgba(0, 0, 0, 0.8) , rgba(0, 0, 0, 0.8)) , url('https://images.unsplash.com/photo-1587731556938-38755b4803a6?q=80&w=2078&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*::-webkit-scrollbar{
    width: 0px;
}

/* .audio-player {
    width: 150px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  }
  
  .audio-player .cover {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .audio-player audio {
    width: 100%;
    height: 30px;
    outline: none;
  } */
  